
.oppia_courses_list{
	margin-top:40px;
}

.oppia_course .title{
	margin-left: 100px;
	margin-top: 30px;
}

.oppia_course .description{
	margin-left: 100px;
	margin-top: -10px;
}

.course_icon {
	width: 60px;
    height: 60px;
    margin-top: -50px;
}

.aa_table{
	margin-left: 100px;
}

.oppia_course .links{
	margin-left: 140px;
    margin-top: -30px;
}
