
.oppia_btn{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    outline: 0;
    border: none;
    font-size: 14px;
    border-radius: 2px;
    line-height: 36px;
    padding: 0 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    letter-spacing: .5px;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;

    color: #fff;
    background-color: #689e3a;
    border-color: #689e3a;
        margin-bottom: 0.7em;
}
.oppia_btn:hover{
	color: #fafafa;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
	background-color: #9aca3c;
}
.oppia_courses_list{
	margin-top:40px;
	clear: both;
	overflow: auto;
}
.oppia_courses_list .oppia_course{
	width:33%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.oppia_course .card{
	margin: 15px;
	border-radius: 4px;
	box-shadow: 0 3px 7px rgba(0,0,0,0.2);
	padding: 20px;
	text-align: center;
	z-index: 100;
}

@media(max-width: 970px){
	.oppia_courses_list .oppia_course{
		width:49.5%;
	}
}
@media(max-width: 758px){
	.oppia_courses_list .oppia_course{
		width:100%;
		max-width: 450px;
		display: block;
		margin: auto;
	}
	.oppia_course .card{
		margin: 15px 10px;
	}
}
@media(max-width: 458px){
	.oppia_course .card{
		margin: 15px 5px;
	}
}

.oppia_course .title{
	margin-top: 30px;
	font-size: 1.3em;
	font-weight: bold;
}

.oppia_course .description{
	margin-top: -10px;
	text-align: justify;
}
.course_icon {
	vertical-align: middle;
	text-align: center;
}
.course_icon img{
	max-width: 90%;	
}

.oppia_course .links{
	margin:-20px;
	padding:15px;
	font-size: 0.9em;
    margin-top: 10px;
    background-color:#eee;
}
